<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <appSettings>
    <!--<add key="AWSProfileName" value="ImageWriter"/>
    <add key="AWSRegion" value="us-east-1"/>
    <add key="bucket" value="images.henric.org"/>
    <add key="AwsBlobStorageClass" value="STANDARD_IA"/>-->
    
    <add key="AWSProfileName" value="TestImagesWriter"/>
    <add key="AWSRegion" value="us-west-2"/>
    <add key="bucket" value="testimages.henric.org"/>
    <add key="AwsStorageClass" value="REDUCED_REDUNDANCY"/>

    <!-- Configure the SDK to use System.Diagnostics -->
    <!--<add key="AWSLogging" value="SystemDiagnostics"/>-->
  </appSettings>
  <system.net>
    <defaultProxy>
      <!--Force everything through Fiddler2-->
      <!--<proxy autoDetect="False" bypassonlocal="False" proxyaddress="http://localhost:8888" usesystemdefault="False" />-->
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
