<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AWSProfileName" value="ImageWriter"/>
    <add key="AWSRegion" value="us-east-1" />
    <add key="bucket" value="images.henric.org"/>
    <!-- Configure the SDK to use System.Diagnostics -->
    <!--<add key="AWSLogging" value="SystemDiagnostics"/>-->
  </appSettings>
  <system.net>
    <defaultProxy>
      <!--Force everything through Fiddler2-->
      <!--<proxy autoDetect="False" bypassonlocal="False" proxyaddress="http://localhost:8888" usesystemdefault="False" />-->
    </defaultProxy>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>